@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap");
$font-family-sans-serif: "Poppins", sans-serif !default;
$primary: #3252DF;
$secondary: #F6F4F5;
@import '~bootstrap/scss/bootstrap.scss';