/** @format */

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap");
$font-family-sans-serif: "Poppins", sans-serif !default;
$primary: #000000;
$secondary: #f6f4f5;
$thirtiery: #3252df;
$navbar-light-hover-color: $thirtiery;
$danger: #df3232;
$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "thirtiery": $thirtiery,
    "danger": $danger,
  ),
  $theme-colors
);
$input-bg: #f5f6f8 !default;
$input-border-width: 0 !default;
$box-shadow: 0 0.5rem 1rem rgba(#3252df, 0.4);
div {
  font-family: "Poppins", sans-serif;
}
li.navigation:hover {
  background-color: #e4e4e4;
}
@import "~bootstrap/scss/bootstrap.scss";
